#skinView {
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, black, transparent);
    overflow: hidden;
    color-scheme: light dark;
}

.outsideContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%; height: 100%;
}

.moreSkins {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5%;
    right: -22%;
    z-index: 1;
    width: 20%;
    height: 4vw;
    min-height: 7vh;
    background: #313131;
    color: #ffffff;
    border-radius: clamp(0.5vw + 0.5vh, 0.5vw + 0.8vh, 0.5vw + 1vh);
    font-family: 'BebasNeue';
    font-style: italic;
    letter-spacing: clamp(0.2vh, 0.2vw, 0.5vw);
    border-width: 0;
    align-self: flex-start;
    overflow: hidden;
}

.moreSkins h2 { font-size: clamp(2vh, 1.4vw, 3vw); z-index: 1; }

.moreSkins::before {
    content: '';
    position: absolute;
    width: 5%;
    height: 120%;
    transition: width 0.8s ease;
    background: rgb(113 0 255);
    left: 0;
    border-radius: 0px;
    z-index: 1;
}

/* Quando o mouse passa */
.moreSkins:hover::before { width: 100%; }

.moreSkins button { all: unset; }

.operatorsSkins {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 100%;
    min-height: 45vw;
    writing-mode: vertical-rl;
    font-size: clamp(2vh, 1vw, 3vw);
    letter-spacing: clamp(2vh, 1.2vw, 2vw);
    color: white;
    z-index: 2;
}

.operatorsSkins::after, .operatorsSkins::before { height: 60%; }

.operatorsSkins::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    background:#4861f5;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%, 0 100%, 0% 50%);
}

.operatorsSkins::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    background:#191919;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 100%, 0% 50%);
}

.operatorsSkins h2 { margin: 0; z-index: 3 }

.skinsSlider {
    display: flex;
    width: 25%;
    transition: padding-left 0.5s ease-in;
    padding-left: clamp(1vw, 1vw + 1.2vh, 5vw);
    height: auto;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
}

.skinsTrack {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    flex-wrap: nowrap;
    will-change: transform;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    gap: clamp(7vh, 4vw, 8vw);
    font-size: clamp(2vh, 1.2vw, 3vw);
}

.SkinsOperator {
    width: 15vw; min-width: 20vh;
    position: relative;
    flex: 0 0 25vw;
    transition: transform 0.5s ease-in;
}

.layerConteiner { width: 100%; height: 100%; position: relative; }

.layerConteiner::after {
    content: '';
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-40%, -55%);
    width: 100%; height: 100%;
    background: #ffffffe0;
    z-index: 0;
}

.layoutConteinerSkin {
    background: linear-gradient(0deg, rgb(213, 2, 255), rgb(0, 110, 255));
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.OperatorName {
    position: absolute;
    left: 50%;
    right: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, 0%);
    font-size: clamp(3.5vh, 2.4vw, 4vw);
    z-index: 1;
    margin: 0;
    background: linear-gradient(to right, #009eff, #a0fe79, #fafa74, #82c926, #00ffe2, rgb(211 157 250), #fcaffc);
    background-size: 400% 100%;
    background-position: 0% 50%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow_text 3s ease-in-out infinite alternate;
}

.operatorSliderSkinIMG {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-30%, -35%);
    width: 50vw; height: auto;
    z-index: 0;
}

.operatorSliderSkin-Name {
  display: flex;
  position: absolute;
  bottom: 18%; right: 15%;
  width: 100%;
  height: 15%;
  background: rgb(53, 53, 53);
  align-items: center;
  overflow: hidden;
  z-index: 1;
  color: white;
  white-space: nowrap;
}

@keyframes slideLeft { from { transform: translateX(0%); } to { transform: translateX(-100%); } }

.text-track {
  display: flex;
  width: 100%;
  white-space: nowrap;
}

.text-track h3 {
  margin: 0;
  white-space: nowrap;
  animation: slideLeft 10s linear infinite;
  will-change: transform;
}

.skinPrice {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    justify-content: center;
    align-items: center;
    color: white;
    width: 55%;
    height: auto;
    background: transparent;
    font-size: clamp(4vh, 3vw, 5vw);
    z-index: 1;
}

.skinPrice img { width: 30%; height: auto; }

.skinPrice span {
  background: linear-gradient(to right, #009eff, #a0fe79, #fafa74, #82c926, #00ffe2, rgb(211 157 250), #fcaffc);
  background-size: 400% 100%;
  background-position: 0% 50%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow-textV2 3s ease-in-out infinite alternate;
}

@keyframes rainbow-textV2 {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.operatorSkinIMG {
    display: block;
    aspect-ratio: 2 / 3;
    object-fit: contain;
    position: absolute;
    width: clamp(160vh, 100vw, 120vw);
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%); z-index: 1;
}

.OperatorSkin-Name {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-12vw, -160%);
    width: clamp(10vw + 30vh, 10vw + 55vh, 55vw);
    height: auto;
    color: white;
    z-index: 2;
    text-shadow: 11px 14px 0px rgba(17, 0, 255, 0.7);
    animation: glitch-textV2 5s infinite;
    font-style: italic;
}

.actualOperator-name { font-size: clamp(6vh, 3.5vw, 5vw); }

@keyframes glitch-textV2 {
  0% {
    text-shadow: 
      0.1em 0.1em 0 rgba(0, 0, 255, 0.9),   /* Azul brilhante */
      -0.1em -0.1em 0 rgba(0, 191, 255, 0.7),  /* Azul claro */
      0.15em 0.2em 0 rgba(70, 130, 180, 0.8);   /* Azul acinzentado */
  }
  25% {
    text-shadow: 
      -0.1em 0.1em 0 rgba(0, 0, 255, 0.9), 
      0.15em -0.1em 0 rgba(0, 191, 255, 0.8), 
      -0.2em 0.2em 0 rgba(30, 144, 255, 0.6);  /* Azul vibrante */
  }
  50% {
    text-shadow: 
      0.2em -0.2em 0 rgba(0, 0, 255, 0.9), 
      -0.3em 0.3em 0 rgba(0, 191, 255, 0.9), 
      0.25em -0.25em 0 rgba(70, 130, 180, 0.7);  
  }
  75% {
    text-shadow: 
      -0.3em 0.3em 0 rgba(0, 0, 255, 0.9), 
      0.2em -0.2em 0 rgba(30, 144, 255, 0.7), 
      -0.25em 0.25em 0 rgba(0, 191, 255, 0.8);  
  }
  100% {
    text-shadow: 
      0.1em 0.1em 0 rgba(0, 0, 255, 0.9), 
      -0.1em -0.1em 0 rgba(0, 191, 255, 0.8), 
      0.15em 0.2em 0 rgba(70, 130, 180, 0.9);  
  }
}

.OperatorSkin-Name span { display: block; width: 100%; }

.operatorSkinIMG, .OperatorSkin-Name { transition: opacity 0.5s ease-in-out; user-select: none; }

/* Parte Responsividade */

@media (orientation: portrait) {

    .outsideContainer {
    display: flex;
    position: relative;
    width: 100%; height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    }

    .operatorSkinIMG { width: 155vh; }

    #principalImg-Operator { transform: translate(-50%, -50%); pointer-events: none; }

    .OperatorSkin-Name {
        width: clamp(12vw + 30vh, 10vw + 35vh, 55vw);
        font-size: clamp(1vw + 2.8vh, 1vw + 3vh, 8vw);
        transform: unset;
        left: 5%;
        top: 32%;
    }

    .operatorsSkins {
        position: absolute;
        top: 0;
        width: 100%; min-width: 290px; max-width: 100vw;
        height: 7%; min-height: unset;
        order: 1;
        writing-mode: unset;
        font-size: 1.5vh;
        letter-spacing: 0.4rem;
    }

    .operatorsSkins::after { width: 100%; clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%, 0 100%, 0% 60%); }

    .operatorsSkins::before { width: 100%; clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 100%, 0% 100%); }

    .operatorsSkins::after, .operatorsSkins::before { height: 75% }

    .skinsSlider { width: 100%; height: 40%;  order: 2; }
    
    .skinsTrack { flex-direction: row; gap: 10vh; }

    .SkinsOperator { flex: 0 0 clamp(20vh, 25vh, 30vh);  height: 80%; }

    .operatorSliderSkinIMG { width: 60vw; pointer-events: none; }

    .operatorSliderSkin-Name { top: 50%; left: 50%; height: 20%; transform: translate(-65%, 120%); }

    .skinPrice { bottom: -12%; }

    .operatorSliderSkin-Name h3 { font-size: 2.5vh; }

    .moreSkins {
        width: 100%;
        min-width: 290px;
        max-width: 100vw;
        right: unset; top: unset; 
        order: 3; 
        border-radius: unset;
        border-width: 0;
    }
    .moreSkins::before { border-radius: unset; }
}

@media ( orientation: landscape ) and (min-width: 598px ) and (max-width: 845px) {
    .skinsSlider { padding-left: clamp(1vw, 1vh + 2vw, 5vw); }
}
/* Parte Responsividade End */