body::-webkit-scrollbar { display: none; }

header.menu { display: flex; }

.background {
    background-image: url(/Rhodes-Island/DefaultImgs/Episode14AbsolvedWillBeTheSeekers.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in;
    z-index: -1;
}

.menu {
    display: flex;
   	width: 100vw; height: 8vw; min-height: 14vh;
    position: relative;
    align-self: flex-start;
    background: linear-gradient(90deg, #181818, transparent);
    border: solid white 0px;
    border-bottom-width: clamp(0.1vw + 0.2vh, 0.2vw + 0.3vh, 0.1vw + 0.5vh);
    overflow: hidden;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.menu-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    padding-top: 2%;
    gap: clamp(5vh, 3vw, 8vw);
    font-size: clamp(4vh, 2.5vw, 3.5vw);
    width: 21vw; min-width: 42vh;
    height: 85%;
    background-color: #000000a8;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease-in, opacity 0.5s ease-in;
    border: solid white 0px;
    border-right-width: clamp(0.1vw + 0.15vh, 0.1vw + 0.2vh, 0.1vw + 0.3vh);
}

.menu-section img { width: clamp(15vw + 2vh, 15vw + 3vh, 15vw + 5vh); height: auto; align-self: center; }

.menu-section.active {
    opacity: 1;
    position: absolute;
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* Estilo inicial dos <p> */
.menu-section p { 
  transform: translateX(-100%); 
  opacity: 0; 
  padding: 2% 0% 0% 0% !important;
  margin: 0;
}

.menu-section p:hover { cursor: pointer; }

/* Keyframes para a animação */
@keyframes slideIn {
  from { opacity: 0; transform: translateX(-100%); }
  to { opacity: 1; transform: translateX(0%); }
}

.menu img {
    display: flex;
    position: absolute;
    width: clamp(15vw + 5vh, 15vw + 10vh, 50vw);
    aspect-ratio: 1 / 1; object-fit: contain;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 55%;
}

.nav {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  width: clamp(12vh, 8vw, 10vw);
  height: auto;
  cursor: pointer;
}

.menu-icon {
    position: absolute;
    background: #ffffff00; /* Transparente, pois não vamos mais usar o fundo */
    width: clamp(4vh, 3vw, 4vw); height: clamp(4vh, 3vw, 4vw);
    transform: rotate(45deg);
    border: solid #ffffff;
    border-width: clamp(0.1vw + 0.2vh,0.2vw + 0.3vh, 0.1vw + 0.5vh);
    transition: box-shadow 0.5s ease-in, transform 0.5s ease-in;
}

.menu-icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(1vh, 1vw, 2vw);
  height: clamp(1vh, 1vw, 2vw);
  background: transparent;
  border: solid red;
  border-width: clamp(0.1vw + 0.2vh,0.2vw + 0.3vh, 0.1vw + 0.5vh);
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.menu-icon.active::after { transition: opacity 1.8s ease-in-out; opacity: 1; }

.menu-icon.active {
  transform: rotate(-225deg);
  box-shadow: 0 0 10px 5px red; /* Adiciona a sombra vermelha */
  transition: box-shadow 0.5s ease-in, transform 0.5s ease-in;
}

.menu-title {
  position: absolute;
  font-size: clamp(0.1vw + 1.5vh, 0.2vw + 3vh, 0.2vw + 5vh);
  transform: translate(0%, 70%);
  transition: transform 0.5s ease-in, opacity 0.2s ease-in, color 0.5s ease-in;
  opacity: 0;
  color: rgb(214, 214, 214);
}

.menu-title.active {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, color 0.5s ease-in-out;
  font-size: clamp(0.1vw + 1.5vh, 0.2vw + 3vh, 0.2vw + 5vh);
  opacity: 1;
  transform: translate(70%, 70%);
  z-index: 1;
  color: rgb(214, 214, 214);
  margin: 0;
}

.menu-icon:not(.active):hover {
  box-shadow: 0 0 10px 5px rgb(252, 139, 74);
  transition: box-shadow 0.2s ease-in, transform 0.5s ease-in-out;
}

.entrance img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Parte responsividade Origin */

@media (orientation: portrait) {
  .menu-section {
    font-size: clamp(5vw + 0.8vh, 5vw + 1vh, 5vw + 3vh);
    width: clamp(5vh + 25vw, 5vh + 45vw,5vh + 50vw); min-width: unset;
  }

  .menu-section img {
    align-self: center;
    width: clamp(15vw + 10vh, 15vw + 25vh, 50vw);
  }

  .menu-icon {
    width: clamp(2vh + 3vw,1vh + 6vw, 2vh + 8vw);
    height: clamp(2vh + 3vw,1vh + 6vw, 2vh + 8vw);
  }

  .menu-icon::after {
    width: clamp(1.5vw + 0.5vh,1.5vw + 1vh, 1.5vw + 2.5vh);
    height: clamp(1.5vw + 0.5vh,1.5vw + 1vh, 1.5vw + 2.5vh);
  }

  .menu-title.active { display: none; }

  .nav { width: clamp(15vw + 2vh, 15vw + 5vh, 35vw); }
}
/* Parte responsividade End */